<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container">
        <h1>Your Order is Confirmed</h1><br>
        <h4>Your Order is : {{orderid}}</h4> <br>
        <h4>Your email is : {{email}}</h4> <br>
        <a href="http://127.0.0.1:8000/tracker/" target="_blank" rel="noopener noreferrer">Track Your Order Here</a>
    </div>
    <div class="container my-4">
        <h1>Your Invoice</h1>
        <ul class="list-group my-4">
            <li class="list-group-item">Customar Name: {{first_name}}  {{last_name}}</li>
            <li class="list-group-item">Customar Address: {{address}}</li>
            <li class="list-group-item">Date: {{date}}</li>
            <li class="list-group-item">Customar Email: {{email}}</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">Price</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for key, val in orderItem.items %}
                <tr>
                    <th scope="row">{{key}}</th>
                    <td>{{val.product_name}}</td>
                    <td>{{val.price}}</td>
                    <td>{{val.quantity}}</td>
                    <td>{{val.totalPrice}}</td>
                <tr>
                {% endfor %}
                    <th colspan="4">Grand Total</th>
                    <th>{{totalPrice}}</th>
                </tr>
            </tbody>
        </table>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>