{% extends "shop/base.html" %}
{% load static %}
{% block title %}Place Order{% endblock title %}
{% block body %}

<style>
    .loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        margin-top: 10px;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="container px-5 py-24 mx-auto">
    <div class="flex  flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                First Name
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                id="first_name" type="text" placeholder="First Name" required>
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
        </div>
        <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Last Name
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="last_name" type="text" placeholder="Last name" required>
        </div>
    </div>
    <div class="flex  flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Email
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                id="email" type="email" placeholder="Email" required>
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
        </div>
        <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Phone Number
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="phone" type="tel" placeholder="Phone Number" required>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                Address Line 1
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="addressLine1" type="text" placeholder="Address Line 1" required>
            <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                Address Line 2
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="addressLine2" type="text" placeholder="Address Line 2" required>
            <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                City
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="city" type="text" placeholder="City" required>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                State
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="state" type="text" placeholder="State" required>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                Zip
            </label>
            <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="zip_code" type="text" placeholder="700109" required>
        </div>
        <div id="loader" class="flex mx-auto">
            <button
                class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                onclick="placeOrder()">Place Order</button>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    function placeOrder() {
        let first_name = document.getElementById('first_name').value
        let last_name = document.getElementById('last_name').value
        let email = document.getElementById('email').value
        let phone = document.getElementById('phone').value
        let addressLine1 = document.getElementById('addressLine1').value
        let addressLine2 = document.getElementById('addressLine2').value
        let city = document.getElementById('city').value
        let state = document.getElementById('state').value
        let zip_code = document.getElementById('zip_code').value
        let ordered_item = JSON.parse(localStorage.getItem('cart'));
        let date = new Date()
        console.log(date.getFullYear());
        console.log(date.getMonth() + 1);
        console.log(date.getDate());
        let finalDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`

        // if (first_name.length < 3) {
        //     alert("Please Enter a Valid First Name")
        // }

        // const phoneno = /^\d{10}$/;
        // if (phone.match(phoneno))
        // {
        //     return true;
        // }
        // else {
        //     alert("Enter a valid 10 Digit Phone Number");
        //     // return false;
        // }

        // if(addressLine1.length < 10){
        //     alert("Provide a valid address")
        // }

        // if(city != "Kolkata" || city != "kolkata"){
        //     alert("Now We Onli Oparate in Kolkata")
        // }

        // if(state != "WB" || city != "wb" || city != "West Bengal" || city != "west bengal" || city != "WEST BENGAL"){
        //     alert("Now We Onli Oparate in West Bengal")
        // }

        // if(zip_code < 6 || zip_code > 6){
        //     alert("Please Enter a Valid Zip Code")
        // }

        let data = {
            first_name: first_name,
            last_name: last_name,
            email: email,
            phone: phone,
            addressLine1: addressLine1,
            addressLine2: addressLine2,
            city: city,
            state: state,
            zip_code: zip_code,
            ordered_item: ordered_item,
            date: finalDate
        }

        console.log(data);


        document.getElementById("loader").innerHTML = `<div class="loader"></div>`

        $.ajax({
            type: "POST",
            url: "/cheackout/",
            data: JSON.stringify(data),
            success: function (data) {
                res = JSON.parse(data)
                console.log(res.order_id);
                console.log(res.message);

                alert(`${res.message} and your Order Id is ${res.order_id}`)
                localStorage.clear()
                window.location.replace("/thankyou")
                // $.redirect('/thankyou', {'arg1': 'value1', 'arg2': 'value2'});
            },
            dataType: "text",
            error: function (err) {
                console.log("---------ERROR----->")
                console.log(err.responseText);
            }
        });
    }
</script>

{% endblock body %}