{% extends "shop/base.html" %}
{% load static %}
{% block title %}Chart Shirt - Home Page{% endblock title %}
{% block body %}



<!-- <section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden" href="/productview" target="_blank">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/420x260">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden" href="/productview">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/421x261">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Shooting Stars</h2>
          <p class="mt-1">$21.15</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden" href="/productview">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/422x262">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Neptune</h2>
          <p class="mt-1">$12.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden" href="/productview">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/423x263">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">The 400 Blows</h2>
          <p class="mt-1">$18.40</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden" href="/productview">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/424x264">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden" href="/productview">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/425x265">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Shooting Stars</h2>
          <p class="mt-1">$21.15</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/427x267">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Neptune</h2>
          <p class="mt-1">$12.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/428x268">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">The 400 Blows</h2>
          <p class="mt-1">$18.40</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Men</h1>
        <div class="h-1 w-12 bg-indigo-500 rounded"></div>
      </div>
    </div>

    <div class="flex flex-wrap -m-4" id="man">

    </div>
  </div>
</section>

<hr> 

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Women</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>


    <div class="flex flex-wrap -m-4" id="woman">

    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
  $(document).ready(function () {
    console.log("ready!");
    console.log("1st");
    let data = { "foo": "bar" }
    $.ajax({
      type: "POST",
      url: "/allproduct/",
      data: JSON.stringify(data),
      success: function (data) {
        console.log("Succcess ==== >");
        response = JSON.parse(data)
        console.log(response.data);
        // alert(response.message).slice(0, 95)
        for (let i = 0; i < response.data.length; i++) {
          if (response.data[i].category === "man") {
            document.getElementById("man").innerHTML += `
                      <div class="xl:w-1/4 md:w-1/2 p-4">
                        <a href="/productview/${response.data[i].product_id}" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gray-100 p-6 rounded-lg">
                            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../media/${response.data[i].product_image}"
                              alt="content">
                            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">${response.data[i].category}</h3>
                            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">${response.data[i].product_name}</h2>
                            <p class="text-base leading-relaxed mt-2"">${response.data[i].product_desc.slice(0, 95)}...</p>
                            <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">₹${response.data[i].price}</button>
                        </div>
                      </a>
                      </div>
                          `
          }else if(response.data[i].category === "woman"){
            document.getElementById("woman").innerHTML += `
                      <div class="xl:w-1/4 md:w-1/2 p-4">
                        <a href="/productview/${response.data[i].product_id}" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gray-100 p-6 rounded-lg">
                            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../media/${response.data[i].product_image}"
                              alt="content">
                            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">${response.data[i].category}</h3>
                            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">${response.data[i].product_name}</h2>
                            <p class="leading-relaxed text-base">${response.data[i].product_desc.slice(0, 95)}...</p>
                            <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">₹${response.data[i].price}</button>
                        </div>
                      </a>
                      </div>
                          `
          }
        }

        // console.log(data.token);
        // console.log("data 1 token");

        // const tokenData = JSON.parse(data)
        // console.log(tokenData);
        // console.log(tokenData.token);
        // window.location.replace("/verify");
        // localStorage.setItem("token",tokenData.token)
      },
      dataType: "text",
      error: function (err) {
        console.log("---------ERROR----->")
        console.log(err.responseText);
      }
    });
  });

</script>

{% endblock body %}